.idea/
*.class
*.lst
*.jar
*.iml
*/target/
.settings/
bin/
target/
output/
logs/
.vscode/

.classpath
.project
.factorypath
*.orig
logPath_IS_UNDEFINED/logName_IS_UNDEFINED/logName_IS_UNDEFINED-warn.log
*.log
logPath_IS_UNDEFINED/logName_IS_UNDEFINED/logName_IS_UNDEFINED-audit.json
